.section6 .servico-text {
    padding: 5px 15px;
    font-size: 20px;
    color: #fff;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: .6rem;
    background-color: #2b323a;
}

::-webkit-scrollbar-thumb {
    background: #6EACDA;
    border-radius: .5rem;
    transition: all .3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #7bbff2;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
    font-family: ope;
}

/*-----header-----*/
header {
    position: fixed;
    z-index: 1;
    padding: 8px 130px;
    background: rgb(247, 247, 247);
    width: 100%;
    border-bottom: 1px solid rgb(228, 224, 224);
}

#nav-img img {
    width: 80px;
    height: 60px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .menu-bar.remove {
    display: none;
}

.menu-cart.remove {
    display: none;
}

.menu-bar .bi-x{
    font-size: 30px;
}
.menu-bar.remov{
    display: none;
}

/* .menu-cart {
    position: fixed;
    padding: 20px 40px;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(247, 247, 247);
    height: 100vh;
    display: flex;
    justify-content: start;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
} */
.menu-cart {
    background: rgb(247, 247, 247);
    padding: 35px 70px;
    position: fixed;
    z-index: 1;
    right: 0;
}

/* .menu-cart h1 {
    color: #6EACDA;
    text-transform: uppercase;
    font-size: 55px;
    margin-top: 3rem;
}

.menu-cart .x2 {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 45px;
    color: #6EACDA;
}

.menu-cart #menu-2 {
    list-style: none;
    margin-top: 2rem;
}

#menu-2 li {
    margin-bottom: 0.2rem;
    font-size: 35px;
    margin-left: -30px;
}

#menu-2 li a {
    text-decoration: none;
    color: #2b323a;
} */

nav #menu {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav #menu li {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

nav #menu li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #2b323a;
    transition: all .3s ease;
}

nav #menu li a:hover {
    color: #6EACDA;
    /* color: #0A3981; */
}
#menu-2 {
    padding: 0;
    list-style: none;
}

#menu-2 li {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 50px;
}

#menu-2 li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
    color: #2b323a;
    transition: all .3s ease;
}

#menu-2 li a:hover {
    color: #6EACDA;
    /* color: #0A3981; */
}

/*-----*-----*/

/*-----main-----*/
main {
    padding-top: 80px;
    padding-bottom: 400px;
    background: rgb(247, 247, 247);
}

section {
    padding: 15px 130px;
}

/*--section1--*/
.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 60vh;
    background: #353E48;
    padding: 15px 130px;
    padding-top: 10px;
}

.section-carrossel {
    overflow: hidden;
    filter: drop-shadow(0 0 11px #000);
}

.carrossel1 {
    /* width: 1000px; */
    max-width: 1000px;
    height: 480px;
    display: flex;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
}

.container1-img img {
    width: 1000px;
    height: 500px;
    opacity: 0.6;
    background-size: cover;
}

.section1 .title {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 80%;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

.section1 .title .tit {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-align: center;

}

.section1 .cer .title {
    height: 90%;
}

.section1 .cer .title .tit h1 {
    font-size: 24px;

}

.section1 .title .tit .button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section1 .title .tit button {
    padding: 10px 35px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 25px;
    background: transparent;
    color: #fff;
    font-size: 19px;
    transition: all .3s ease;
}

.section1 .title .tit button:hover {
    background: #6EACDA;
    border-color: #7bbff2;
}

/*-----------*/

/*--section2--*/
/* .section2{
    padding: 90px 0;
    padding-top: 60px;
    border-top:1px solid rgb(228, 224, 224);
    }

    .section2 .title{
        padding:0 130px;
        text-align: center;
        margin-bottom: 3rem;
        font-size: 20px;
        color: #6EACDA;
        }

        */
.Container5 {
    padding: 60px 130px;
}

.tx-prj {
    font-size: 20px;
    text-align: center;
    color: #6EACDA;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}

/* .box-prj {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
} */

.box2-proj {
    display: flex;
    justify-content: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    gap: 2rem;
    flex-wrap: wrap;
}

.box-proj1 {
    width: 270px;
    height: 200px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: flex;
}

.box-proj1:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #20252a,
        0 0 10px #20252a;
}

.box-proj1 .foto{
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.box-proj1 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.txt-proj{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 1.5rem 1.25rem;
    background: linear-gradient(180deg, rgba(118,172,218, 0.2) 0%, rgb(13,62,100) 95%);
    transition: .3s;
    display: flex;
    align-items: flex-end;
    color: #fff;
}

.txt-proj h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}


.box-proj1 .foto:hover .txt-proj{
    bottom: 0;
}

/* .section2 .image img{
    width: 100%;
    height: 100%;
} */
/*
.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.missao, .visao , .objectivo{
    border: 1px solid #6EACDA;
    border-radius: 15px;
    padding: 50px;
    color: #6EACDA;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;
    text-decoration: none;
    box-shadow: 3px 0 20px 0 #6EACDA,5px 0 10px 0 #aaa,12px 0 10px 0 #eee;
}

.missao:hover, .visao:hover, .objectivo:hover{
    background: #6EACDA;
    color: #fff;
    transform: scale(1.10);
}

.missao i, .visao i, .objectivo i{
    font-size: 30px;
}

.tit-missao, .tit-visao, .tit-objectivo{
    text-transform: uppercase;
    margin-top: 1rem;
} */
/*----*/

/*--section3--*/
/* .section3{
    padding: 15px 130px;
} */

.section3{
    padding-top: 30px;
}

.section3 .title {
    color: #6EACDA;
    text-align: center;
    margin-bottom: 20px;
}

.section3 .sobre-text {
    padding: 5px 15px;
    font-size: 20px;
    text-align: justify;
}

.section3 .sobre-text span {
    color: #6EACDA;
    text-transform: uppercase;
}

.section3 .sobre {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    /* width: 100%; */
}

.section3 .sobre .sub-missao,
.sub-visao,
.sub-valores,
.sub-objectivos{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 140px;
    padding-bottom: 50px;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #353E48;
    font-family: "Roboto", sans-serif;
}

.section3 .sobre .sub-missao .label,
.sub-visao .label,
.sub-valores .label,
.sub-objectivos .label{
    cursor: pointer;
    color: #6EACDA;
}
.section3 .sobre .sub-missao .label.remove,
.sub-visao .label.remove,
.sub-valores .label.remove,
.sub-objectivos .label.remove{
    color: #353E48;
}

.sobre .missao .text-missao.remove,
.visao .text-visao.remove,
.valores .text-valores.remove{
    display: none;
}

.sobre input[type="radio"]{
    accent-color: #6EACDA;
    border-color: #6EACDA;
}

.section3 .sobre .text-missao, .text-visao, .text-valores{
    width: 280%;
    display: flex;
    gap: 2rem;
}
.section3 .sobre .text-visao{
    margin-left: -100%;
}
.section3 .sobre .text-valores{
    margin-left: -190%;
}

.section3 .sobre .text-missao .img, .p,
.section3 .sobre .text-visao .img, .p,
.section3 .sobre .text-valores .img, .p{
    width: 50%;
}
.section3 .sobre .text-missao img{
    width: 100%;
}





/*----*/

/*--section4--*/
.section4 {
    background: #353E48;
    padding-bottom: 40px;
}

.section4 .title {
    color: #6EACDA;
    text-align: center;
    margin-bottom: 20px;
}

.section4 .servico-text {
    padding: 5px 15px;
    font-size: 20px;
    color: #fff;
}

.section4 .servico-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.cursos {
    background: #2b323a;
    width: 310px;
    border-radius: 5px;
    padding: 40px 30px;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in;
}

.cursos:hover {
    background: #20252a;
    transform: scale(1.02);
    box-shadow: 0 2px 15px 0 #20252a;
}

.cursos-icon {
    font-size: 30px;
}

.cursos-text {
    text-transform: uppercase;
}

/*----*/

/*--section5--*/
.section5 {
    /* padding: 15px 130px; */
    margin-bottom: 5rem;
}

.section5 .title {
    color: #6EACDA;
    margin-bottom: 2rem;
    text-align: center;
}

.section5 .container {
    /* display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.section5 .container1 {
    width: 300px;
    height: 200px;
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    text-align: center;
    color: #aaa;
}

.section5 .container1:hover {
    box-shadow: 0 2px 15px 0 #aaa;
}

.section5 .container1 p:first-child {
    text-transform: uppercase;
    font-weight: 800;
    color: #6EACDA;
}

.section5 .pref {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: end;
}

.section5 .pref2 {
    padding: 20px 10px;
    text-align: end;
}


.section5 .pref p:first-child {
    font-style: italic;
    margin-bottom: -1px;
}

/*----*/

/*-----*-----*/

/*-----vitoria------*/
/* section.vitoria1{
    padding: 15px 130px;
} */

.vitoria1 .titulovitoria {
    text-transform: uppercase;
    padding: 0 70px;
    text-align: center;
}

.vitoria1 .sub-titulo img {
    height: 230px;
    width: 430px;
}

.vitoria1 .sub-titulo {
    text-align: justify;
}

.vitoria1 .pref {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: end;
}

.vitoria1 .pref2 {
    padding: 20px 10px;
    text-align: end;
}


.vitoria1 .pref p:first-child {
    font-style: italic;
    margin-bottom: -1px;
}

.vitoria1 .imgbody {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vitoria1 .fixed.remove {
    display: none;
}

.vitoria1 .fixed {
    position: fixed;
    pointer-events: all;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.vitoria1 .x {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

.vitoria1 .imag1 {
    position: relative;
    top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vitoria1 .imag1 img {
    width: 80%;
    height: 30%;
}

/*---------------*/

/*-----cerimonia-----*/
/* section.cerimonia1{
    padding: 15px 130px;
} */

.cerimonia1 .titulocerimonia {
    padding: 0 70px;
    text-align: center;
    text-transform: uppercase;
}

.cerimonia1 .sub-titulo img {
    height: 230px;
    width: 430px;
}

.cerimonia1 .sub-titulo {
    text-align: justify;
}

.cerimonia1 .pref {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: end;
}

.cerimonia1 .pref2 {
    padding: 20px 10px;
    text-align: end;
}


.cerimonia1 .pref p:first-child {
    font-style: italic;
    margin-bottom: -1px;
}

.cerimonia1 .imgbody {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cerimonia1 .fixed.remove {
    display: none;
}

.cerimonia1 .fixed {
    position: fixed;
    pointer-events: all;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.cerimonia1 .x {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

.cerimonia1 .imag1 {
    position: relative;
    top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cerimonia1 .imag1 img {
    width: 70%;
    height: 30%;
}

/*----------*/

/*-----Radio-----*/
/* section.radio1{
    padding: 15px 130px;
} */

/* .radio1 .tituloradio{
    padding: 0 70px;
    text-align: center;
    text-transform: uppercase;
}

.radio1 .sub-titulo img{
   height: 230px;
}

.radio1 .sub-titulo{
    text-align: justify;
}

.radio1 .pref{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: end;
}

.radio1 .pref2{
    padding: 20px 10px;
    text-align: end;
    background: #6EACDA;
}


.radio1 .pref p:first-child{
    font-style: italic;
    margin-bottom: -1px;
} */
/*----------*/

/*-----ultimafase-----*/
/* section.ultimafase1{
    padding: 15px 130px;
} */

/* .ultimafase1 .titulofaase{
    text-transform: uppercase;
    padding: 0 70px;
    text-align: center;
}

.ultimafase1 .sub-titulo img{
   height: 230px;
}

.ultimafase1 .sub-titulo{
    text-align: justify;
}

.ultimafase1 .pref{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: end;
}

.ultimafase1 .pref2{
    padding: 20px 10px;
    text-align: end;
    background: #6EACDA;
}


.ultimafase1 .pref p:first-child{
    font-style: italic;
    margin-bottom: -1px;
} */
/*---------------*/

/*-----natal_viva-----*/
/* section.natal_viva{
    padding: 15px 130px;
} */

.natal_viva .titulonatal {
    text-transform: uppercase;
    padding: 0 70px;
    text-align: center;
}

.natal_viva .sub-titulo img {
    height: 320px;
}

.natal_viva .sub-titulo {
    text-align: justify;
}

.natal_viva .pref {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: end;
}

.natal_viva .pref2 {
    padding: 20px 10px;
    text-align: end;
}


.natal_viva .pref p:first-child {
    font-style: italic;
    margin-bottom: -1px;
}

.natal_viva .imgbody {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.natal_viva .fixed.remove {
    display: none;
}

.natal_viva .fixed {
    position: fixed;
    pointer-events: all;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.natal_viva .x {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

.natal_viva .imag1 {
    position: relative;
    top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.natal_viva .imag1 img {
    width: 55%;
    height: 10%;
}

/*------------------*/

.section6{
    background:#20252a;
    padding: 50px 120px;
}

.section6 .title{
    margin-bottom: 30px;
}
.section6 .title h3{
    color: #6EACDA;
    text-align: center;
    margin-bottom: 20px;
}

.section6 .title p{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.section6 .container12 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 45px;
}

.section6 .container12 .main-video {
    background: #353E48;
    border-radius: 5px;
    padding: 7px;
}

.section6 .container12 .main-video iframe {
    width: 100%;
    border-radius: 5px;
}

.section6 .container12 .main-video .title {
    color: #fff;
    font-size: 21px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.section6 .container12 .main-video .text-video {
    display: flex;
    align-items: center;
    position: relative;
}

.section6 .container12 .main-video .text-video .video2 {
    position: absolute;
    right: 0;
    font-size: 21px;
    color: #fff;
}

.section6 .container12 .main-video .text-video .video2 .bx {
    margin-left: .1rem;
    padding: 5px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
}

.section6 .container12 .main-video .text-video .video2 .bx:hover {
    background: #aaa;
}

.section6 .container12 .video-list {
    background: #353E48;
    border-radius: 5px;
    height: 440px;
    overflow-y: scroll;
}

.section6 .container12 .video-list::-webkit-scrollbar {
    width: 7px;
}

.section6 .container12 .video-list::-webkit-scrollbar-track {
    background: #2b323a;
    border-radius: 50px;
}

.section6 .container12 .video-list::-webkit-scrollbar-thumb {
    background: #6EACDA;
    border-radius: 50px;
}

.section6 .container12 .video-list .vid {
    display: flex;
    align-items: start;
    gap: 15px;
    background: #2b323a;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #20252a;
    cursor: pointer;
}

.section6 .container12 .video-list .vid:hover {
    background: #353E48;
}

.section6 .container12 .video-list .vid.active {
    background: #6EACDA;
}

.section6 .container12 .video-list .vid.active .title {
    color: #fff;
}

.section6 .container12 .video-list .vid .title {
    color: #fff;
    font-size: 14px;
}

.section6 .container12 .video-list .vid iframe {
    width: 100px;
    height: 60px;
    border-radius: 5px;
}
.section6 .container12 .video-list .vid video {
    width: 100px;
    height: 60px;
    border-radius: 5px;
}
/* .section6 .container12 .video-list .vid video {
    width: 200px;
    border-radius: 5px;
} */

@media (max-width:991px) {
    .section6 .container12 {
        grid-template-columns: 1.5fr 1fr;
        padding: 10px;
    }
}

@media (max-width:768px) {
    .section6 .container12{
        grid-template-columns: 1fr;
    }
}
/*  */

.section7 {
    width: 100%;
    padding: 40px 70px;
}

.section7 .title h2{
    color: #6EACDA;
    text-align: center;
    margin-bottom: 20px;
}

.box-cnt{
    display: flex;
    justify-content: center;
}

.form-cnt{
    background: #fff;
    padding: 35px 40px;
    border-radius: 1px 35px;
}
.form{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* display: grid;
    grid-template-columns: .5fr .5fr;
    column-gap: 2rem;
    row-gap: 1rem; */
}

.campos-cnt{
    width: 300px;
    display: grid;
}

.campos-cnt.re{
    width: 100%;
    margin-top: 1rem;
}

.campos-cnt label{
    color: #6EACDA;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 10px;
}

.campos-cnt input, .campos-cnt.re textarea{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #6EACDA;
    padding: 0 10px;
    background: transparent;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition: all .3s;
}

.campos-cnt.re textarea{
    height: 120px;
    font-size: 15px;
    padding-top: 10px;
}

.campos-cnt input:hover, .campos-cnt.re textarea:hover{
    border-color: #7bbff2;
}

.campos-cnt input:focus, .campos-cnt.re textarea:focus{
    color: #353E48;
}

.button-cnt{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button-cnt button{
    color: #fff;
    padding: 15px 40px;
    background: #6EACDA;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.button-cnt button:hover{
    background: #7bbff2;
}

/*  */
/*  */


/*-----footer-----*/

footer {
    bottom: 0;
    width: 100%;
    background-color: #353E48;
    position: absolute;
}

.display-footer2 {
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
}

/* .display-footer {
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    gap: 3rem;
} */

/* .display-footer .dis {
    width: 300px;
}

.display-footer .dis h6{
    text-align: center;
} */

/* .display-footer h6 {
    font-size: 18px;
    text-transform: uppercase;
    color: #6EACDA;
}

.menu-info {
    display: inline;
    list-style: none;
}

.menu-info li {
    display: flex;
    gap: .8rem;
    align-items: center;
}

.menu-info li:last-child {
    margin-top: 15px;
}

.menu-info li i {
    padding: 5px 10px;
    border-radius: 50%;
    background: #2b323a;
    color: #ffff;
}

.menu-info li a {
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
}

.footer-about ul.links {
    list-style: none;
    display: inline;
    justify-content: start;
}

.footer-about ul.links li {
    color: #ffff;
    font-size: 15px;
    cursor: pointer;
}

.footer-about li:hover {
    transform: scale(1.02);
}

.footer-about li a {
    text-decoration: none;
    color: #fff;
}


.footer-about .media {
    color: #6EACDA;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}

.menu-about {
    display: flex;
    margin-left: -30px;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    margin-top: 2rem;
} */

/* .menu-about li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
}

.menu-about li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    padding: 5px 10px;
    background: #2b323a;
    border-radius: 5px;
    transition: all .3s ease;
}

.menu-about li a:hover {
    background: #20252a;
    color: #6EACDA;
}

.footer-contact label {
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
}

.send4 {
    width: 100px;
    margin-top: 10px;
    text-transform: uppercase;
} */

footer .displayfooter{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
footer .displayfooter2 h6{
    color: #6EACDA;
    text-transform: uppercase;
    font-size: 22px;
}
footer .displayfooter2 ul{
    margin-top: 15px;
    list-style: none;
    padding: 0;
    /* margin-left: -30px; */
}
footer .displayfooter2 ul.menu-about{
    display: flex;
    flex-direction: row;
}
footer .displayfooter2 ul li{
    line-height: 40px;
    font-size: 18px;
    color: #fff;
}
footer .displayfooter2 ul.links li{
    line-height: 30px;
}
footer .displayfooter2 ul.links li a{
    color: #fff;
    text-decoration: none;
    transition: all .3s;
}
 footer .displayfooter2 ul.links li a:hover{
    color: #6EACDA;
}
footer .displayfooter2 ul li i{
    color: #fff;
    padding: 5px 7px;
    margin-right: 10px;
    border-radius: 50px;
    background: #2b323a;
}
footer .displayfooter2 ul.menu-about li i{
    padding: 8px 13px;
    border-radius: 15px;
    font-size: 20px;
    transition: all .3s;
}
footer .displayfooter2 ul.menu-about li i:hover{
    background: #20252a;
    color: #6EACDA;
}
footer .displayfooter2 .lif{
    display: flex;
    align-items: start;
}
footer .lif .number{
    display: flex;
    flex-direction: column;
}

footer .apoio{
    margin-top: 3rem;
}

footer .apoio .tit-apoio {
    margin: 1rem 0;
    margin-bottom: .5rem;
    text-align: center;
}

footer .apoio h5 {
    text-transform: uppercase;
    color: #6EACDA;
}

footer .sub-apoio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    gap: 2rem;
    margin-bottom: 10px;
}

footer .sub1-apoio {
    height: 60px;
    margin: 5rem 0;
}

footer .sub1-apoio img {
    height: 100%;
}

footer .center {
    background: #2b323a;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #ffff;
}

@media screen and (max-width: 900px) {
    div.menu-bar.remove {
        display: flex;
        font-size: 30px;
        transition: all .3s ease;
        cursor: pointer;
    }

    div.menu-bar.remove:hover {
        color: #6EACDA;
    }

    ul#menu {
        display: none;
    }
}

@media screen and (width < 768px) {
    h4 {
        padding: 10px 0;
    }

    header,
    section {
        padding: 8px 30px;
    }

    .imgbody .fixed {
        display: none;
    }

    .vitoria1 .sub-titulo img {
        width: 100%;
    }

    .cerimonia1 .sub-titulo img {
        width: 100%;
    }

    .natal_viva .sub-titulo img {
        width: 100%;
        height: 120%;
    }

    section.section1 {
        padding: 4px 0;
    }

    .section-carrossel {
        filter: none;
    }
}

@media screen and (width > 768px) and (width<901px) {

    header,
    section,
    .section1,
    .section6{
        padding: 8px 60px;
    }
}

@media screen and (width<920px) {
    .section3 .sobre {
        display: flex;
        flex-direction: column;
    }
    /* .section3 .sobre .img{
        display: none;
    } */
    .section3 .sobre .p h2{
        display: none;
    }
    .section3 .sobre .p p{
       text-align: left;
    }
    .section3 .sobre input{
        display: none;
    }
    .section3 .sobre .sub-missao,
.sub-visao ,
.sub-valores ,
.sub-objectivos{
    align-items: start;
    padding: 0 10px;
}
.section3 .sobre .sub-missao .label.remove,
.sub-visao .label.remove,
.sub-valores .label.remove,
.sub-objectivos .label.remove{
    color: #6EACDA;
}
.sobre .missao .text-missao.remove,
.visao .text-visao.remove,
.valores .text-valores.remove{
    display: flex;
}
.section3 .sobre .text-missao, .text-visao, .text-valores{
    width: 100%;
    display: flex;
    gap: 2rem;
}
.section3 .sobre .text-visao{
    margin-left: 0;
}
.section3 .sobre .text-valores{
    margin-left: 0;
}
    main {
        padding-bottom: 700px;
    }

    .display-footer2 {
        padding: 12px 20px 0 20px;
    }

    .displayfooter {
        flex-wrap: wrap;
        justify-content: center;
    }

    .tit-inline {
        margin-top: 1rem;
    }

    .display-footer .dis:last-child {
        width: 100%;
        padding-left: 40px;
    }

    .footer-contact.dis input,
    .footer-contact.dis textarea {
        width: 70%;
    }
}

@media screen and (width<688px) {
    .box2-prj{
       justify-content: center;
    }
    .section6{
         padding: 10px 20px;
    }
    main {
        padding-bottom: 1000px;
    }

    #nav-img img {
        width: 70px;
        height: 50px;
    }
    .section3 .sobre .img{
        display: none;
    }
    footer .sub1-apoio{
       height: 33px;
    }
    footer .sub1-apoio img{
       height: 100%;
    }
}

@media screen and (width<538px) {
    .section7{
    padding: 10px 15px;
    }
    footer .sub1-apoio{
       height: 29px;
    }
    footer .sub1-apoio img{
       height: 100%;
    }

    .footer-contact.dis input,
    .footer-contact.dis textarea {
        width: 100%;
    }

    .display-footer .dis:last-child {
        width: 100%;
        padding-left: 0px;
    }

    .sobre-text p {
        text-align: left;
    }
}

@media screen and (width<400px) {
    section h4 {
        font-size: 19px;
    }

    .section3 .sobre .text-missao .img, .p,
.section3 .sobre .text-visao .img, .p,
.section3 .sobre .text-valores .img, .p{
    width: 190%;
}

    .vitoria1 .titulovitoria,
    .cerimonia1 .titulocerimonia,
    .natal_viva .titulonatal {
        padding: 0 0;
    }

    .vitoria1 .lead,
    .cerimonia1 .lead,
    .natal_viva .lead {
        font-size: 15px;
        text-align: start;
    }

    header,
    section {
        padding: 8px 10px;
    }
    footer .sub1-apoio{
       height: 25px;
    }
    footer .sub1-apoio img{
       height: 100%;
    }
    .form{
        display: flex;
        flex-wrap: wrap;
    }
    .center p{
        font-size: 14px;
    }
    footer .displayfooter2 h6{
        font-size: 18px;
    }
    .section6{
         padding: 8px 10px;
    }
    .carrossel1 {
        /* width: 1000px; */
        width: 100%;
        height: 480px;
        display: flex;
        transition: 0.7s ease-in-out;
        transform: translateX(0);
    }
    main{
        padding-bottom: 775px;
    }
}
